.account-container {
    border-right: 1px solid grey;
    width: 30%;
    position: fixed;
    left: 0;
    margin: 0;
    height: 100vh;
    z-index: -1;
    color: white;
    padding: 30px 15px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}


.top-account {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    padding-bottom: 14px;
    font-size: 1.4rem;
}

.down-account {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.down-account a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(99, 141, 255);
    padding: 10px 15px;
    border-radius: 8px;
    width: 80%
}

footer {
    padding: 0px;
}

.bg-white {
    background-color: white !important;
}

.black {
    color: black !important;
}

/* HISTORY SECTION */

.history-section {
    color: white;
    position: relative;
    left: 30%;
    width: 70%;
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}