* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* HEADER START */

.logo-img {
    background-image: url('../image/logo.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-left: 15px;
}

.container-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid grey;
    padding: 0 15px;
    font-size: 20px;
}

.ul-header li a {
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: .5s all;
}


.ul-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    transition: .5s all;
}

.ul-header li:hover {
    color: blue;
    scale: 1.1;
    border-bottom: 1px solid rgba(134, 134, 134, 0.5);
}

.ul-header li a:visited {
    color: white;
}

.ul-header {
    list-style-type: none;
}

.li {
    list-style-type: none;
    transition: .2s all;
    border: 1px solid transparent;
    padding: 5px;
}

.li:hover {
    border: 1px solid grey;
    border-radius: 2px;
    transform: scaleX(1.2);
}

.ul-header {
    display: flex;
    gap: 25px;
}

@media (max-width: 960px) {
    .container-header {
        font-size: 1rem;
    }
}

@media (max-width: 860px) {
    .container-header {
        font-size: .8rem;
    }
}

@media (max-width: 768px) {

    .li {
        padding: 10px 15px;
    }

    .li:hover {
        color: red;
        border: 1px solid grey;

    }

}

/* HEADER END */

/* BURGER START */

.burger {
    display: none;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 30px;
}

.burger-label {
    display: none;
}

#burger-toggle {
    opacity: 0;
}

.nav-header {
    transition: .5s all;
}



@media (max-width: 768px) {

    .nav-header {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #151515;
        padding-top: 100px;
        z-index: -1;
        flex-direction: column;
        text-align: center;
        top: -100vh;
        bottom: 100vh;
    }

    .ul-header {
        flex-direction: column;
    }

    .ul-header li a {
        font-size: 1.5rem
    }

    .container-header {
        justify-content: space-between;
    }

    .burger {
        display: flex;
    }


    .burger-label {
        display: block;
    }

    .burger-label {
        position: relative;
        display: block;
        height: 25px;
        width: 40px;
    }

    .burger-label::after,
    .burger-label::before,
    .burger-label span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition: .3s;
    }

    .burger-label::before {
        content: "";
        top: 0;
    }

    .burger-label::after {
        content: "";
        bottom: 0;
    }

    .burger-label span {
        top: 11px;
    }



    #burger-toggle:checked~label::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked~label::before {
        transform: rotate(45deg);
        top: 12px;
    }

    #burger-toggle:checked~label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked~.nav-header .ul-header {
        top: 80px;
        bottom: 0;
    }

    #burger-toggle:checked~.nav-header {
        display: block;
        top: 80px;
        bottom: 0;
    }




}

/* MAIN START */
/* остановился тут */
.container {
    width: var(--containerWidth); 
    margin-inline: auto;
}

.spisok {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.text-block-div {
    border: 1px solid orange;
    width: 300px;
}