.form-conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.white-word {
    color: white;
    font-family: sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    width: 40%;
}

.form-control {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
}

.form__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.form__field {
    width: 100%;
    max-width: 300px;
    min-width: 260px;
}

.p-30 {
    padding-top: 30px;
}

.send-form {
    width: 75%;
    height: 35px;
    border: transparent;
    border-radius: 8px;
    transition: .6s;
    max-width: 220px;
    min-width: 135px;
}

.send-form:hover {
    cursor: pointer;
    background-color: rgb(99, 141, 255);
}

.line {
    width: 100%;
    max-width: 300px;
    min-width: 220px;
}

.non-account {
    font-size: 0.8rem;
    color: white;
    font-family: sans-serif;
    padding: 0;
    min-width: 200px;
}

.non-account a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 0 3px;
}

.non-account a:hover {
    cursor: pointer;
    color: rgb(99, 141, 255);
    border-bottom: 1px solid rgb(99, 141, 255);
}
.form-control:focus {
    outline: 2.5px solid rgb(99, 141, 255)
}