.form-conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.white-word {
    color: white;
    font-family: sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 40%;
}   

.form-control {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
}

.form__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.form__field {
    width: 100%;
    max-width: 300px;
    min-width: 260px;
}

.p-30 {
    padding-top: 30px;
}

.send-form {
    width: 100%;
    height: 45px;
    border: transparent;
    border-radius: 8px;
    transition: .6s;
    max-width: 220px;
}

.send-form:hover {
    background-color: rgb(255, 195, 83);
}

.line {
    width: 100%;
    max-width: 300px;
}

.non-account {
    font-size: 0.8rem;
    color: white;
    font-family: sans-serif;
    padding: 0;
}

.non-account a {
    text-decoration: none;
    color: white;
}

.non-account a:hover {
    color: rgb(255, 195, 83);
    border-bottom: 1px solid rgb(255, 195, 83);
}

.container-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}