.form-conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.white-word {
    color: white;
    font-family: sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    width: 60%;
}   

.form-control {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    transition: outline .2s;
}

.form-control:focus {
    outline: 2.5px solid rgb(99, 141, 255)
}

.form__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.form__field {
    width: 100%;
    min-width: 260px;
}


.p-30 {
    padding-top: 30px;
}

.send-form {
    width: 100%;
    height: 45px;
    border: transparent;
    border-radius: 8px;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 30px;
    /* max-width: 260px; */
}

.send-form:hover {
    cursor: pointer;
    background-color: rgb(99, 141, 255);
}

.line {
    width: 100%;
    max-width: 300px;
}

.non-account {
    font-size: 0.8rem;
    color: white;
    font-family: sans-serif;
    padding: 0;
}

.non-account a {
    text-decoration: none;
    color: white;
}

.non-account a:hover {
    cursor: pointer;
    color: rgb(99, 141, 255);
    border-bottom: 1px solid rgb(99, 141, 255);
}

.container-part {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

@media (max-width: 888px) {
    .container-part {
        flex-direction: column;
        width: auto;
        gap: 20px;
    }

    .form__section {
        gap: 20px;
    }

    .send-form {
        max-width: 230px;
    }

    .form__section {
        max-width: 260px;
    }
}